/*========== GOTHAMFONT ==========*/
@import url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'GothamPro', 'sans-serif';
}
body{
    color: #263138;
}
header{
    background-color: #FF9A6C;
    padding: 1.5rem 5rem 1.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    color: #fff;
    font-weight: 600;
    padding: 2rem;
    text-decoration: none;
    transition: 1s;
}

header nav a:hover{
    text-decoration: underline;
    transition: 5s;
    text-underline-offset: 0.25rem;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 5rem 128px 5rem;
    position: relative;
}

h1, h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

main p {
    line-height: 150%;
    margin-bottom: 2rem;
}

.botao {
    background-color: #FF725E;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}

.botao-transparente {
    background-color: transparent;
    color: #FF725E;
    padding: 1rem 2rem;
    text-underline-offset: 0.25rem;
    transition: 1s;
}

.botao:hover, .botao-transparente:hover{
    font-size: 1.25rem;
    padding: 1.25rem 2.25rem;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}