/*========== GOTHAMFONT ==========*/
@import url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'GothamPro', 'sans-serif';
}
body{
    color: #263138;
}

/* header */
header{
    background-color: #FF9A6C;
    padding: 1.5rem 5rem 1.5rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    color: #fff;
    font-weight: 600;
    padding: 2rem;
    text-decoration: none;
    transition: 1s;
}

header nav a:hover{
    text-decoration: underline;
    transition: 5s;
    text-underline-offset: 0.25rem;
}

/* Seção inicio */
#inicio {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 5rem 128px 5rem;
    position: relative;
}

h1, h2 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

main p {
    line-height: 150%;
    margin-bottom: 2rem;
}

.botao {
    background-color: #FF725E;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}

.botao-transparente {
    background-color: transparent;
    color: #FF725E;
    padding: 1rem 2rem;
    text-underline-offset: 0.25rem;
    transition: 1s;
}

.botao:hover, .botao-transparente:hover{
    font-size: 1.25rem;
    padding: 1.25rem 2.25rem;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* Seção clinica */
#clinica{
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem 5rem;
}

#clinica li {
    margin: 0 0 1rem 2rem;
}

/* Seção farmácia */
#farmacia {
    background-color: rgba(255, 152, 108, 0.25);
    padding: 4rem 5rem;
    text-align: center;
}

#farmacia img {
    margin: 4rem auto;
}

#farmacia p {
    max-width: 60rem;
    margin: 0 auto;
}

/* Seção dúvidas frequentes */
#duvidas {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem 5rem;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 0.125rem solid #FF725E;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1.5rem;
}

.duvida img {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    cursor: pointer;
}

.duvida p {
    border-right: 0.063rem solid #FF725E;
    border-bottom: 0.063rem solid #FF725E;
    border-left: 0.063rem solid #FF725E;
    border-radius: 0 0 0.5rem 0.5rem;
    margin-top: -1rem;
    padding: 1.5rem;
}

/* Seção footer */
footer{
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 4rem 5rem;
}

footer img, footer strong {
    display: block;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 1rem;
    text-decoration: none;
}

footer p {
    margin-bottom: 0.5rem;
    max-width: 22rem;
}

footer p a {
    color: #FF725E;
    text-decoration: none;
}

footer a:hover{
    color: #fff;
}

#copyright{
    background-color: #263138;
    text-align: center;
    color: #fff;
    padding: 0.5rem;
    text-decoration: none;
}

#copyright a {
    color: #fff;
    text-decoration: underline solid #FF725E 0.125rem;
    text-underline-offset: 0.25rem;
}

#copyright a:hover{
    color: #FF725E;
}