/*========== GOTHAMFONT ==========*/
@import url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'GothamPro', 'sans-serif';
}
body{
    color: #263138;
}
header{
    background-color: #FF9A6C;
    padding: 24px 80px 24px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    color: #fff;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}